@import "~bootstrap/scss/bootstrap";

body {
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
   sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font: 14px "Century Gothic", Futura, sans-serif;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
   monospace;
}


ol, ul {
   padding-left: 30px;
}
.input-group{
   border-radius: 10px;
   background-color: #eeeeee;
}
.custom-control-label::after,
.custom-control-label::before {
   top: 0
}

.board-row:after {
   clear: both;
   content: "";
   display: table;
}

.status {
   margin-bottom: 10px;
}


.game-info {
   margin-left: 20px;
}